.box_juego {
    width: 75%;
    margin-top: 8%;
    margin-bottom: 9%;
}

.juego_cont {
    border: 1px solid #ff9900;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.juego_subcont1 {
    width: 50%;
    height: 500px;
    border-radius: 20px;
}

.juego_subcont2 {
    width: 45%;
}

.imgjuego {
    height: 400px;
}

.texto_juego {
    padding: 20px;
    font-size: 120%;
}

.btn_carrito {
    border: none;
    background-color: #ff9900;
    color: whitesmoke;
    padding: 14px 14px;
    font-size: 90%;
    display: inline-block;
    display: block;
    margin-top: 19%;
    cursor: pointer;
}